// ===========================================
// Projects Styles
// ===========================================

.projects {
    text-align: left;

    @media @tablet {
        text-align: right;
    }

    &__line {
        margin: 40px 0 40px 0;
        width: 100%;
        border: 0;
        height: 1px;
        background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 1));

        @media @tablet {
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 1));
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        text-align: left;
        color: #fff;
        width: 100%;
        background-color: fadeout(@sidebar-color, 10%);
        border-radius: 7px;
        margin-bottom: 60px;

        @media @tablet {
            flex-direction: row;
        }

        &__left {
            flex-basis: 35%;
            padding: 3%;
            box-shadow: 43px 0px 31px -15px rgba(0,0,0,0.46);
            z-index: 9;
        }

        &__right {
            flex-grow: 1;
            padding: 3%;
            min-height: 500px;
            background-image: url(~images/trees.png);
            background-size: cover;
            background-position: bottom;

            @media @tablet {
                height: initial;
            }
        }

        &__title {
            font-size: 1.8em;
            font-weight: 700;

            @media @tablet {
                font-size: 2em;
            }

            @media @desktop {
                font-size: 2.5em;
            }
        }

        &__description {
            margin-top: 30px;
            line-height: 2.5;
            font-size: 0.8em;

            @media @tablet {
                line-height: 2;
            }

            @media @desktop {
                font-size: 1em;
            }
        }

        &__stack {
            margin-top: 30px;
            font-size: 1em;

            @media @desktop {
                font-size: 1.2em;
            }
        }

        &--highlight {
            background-color: fadeout(#fff, 95%);
            padding: 5px;
            border-radius: 7px;
    
            @media @tablet {
                padding: 4px;
            }
        }

        &__line {
            margin: 2px 0 20px 0;
            width: 100%;
            border: 0;
            height: 1px;
            background-color: fadeout(#fff, 80%);
        }
    }

    &--stronger {
        font-weight: 700;
    }
}

.tripsee {
    background-color: fadeout(#1fa224, 10%);
    color: darken(#1fa224, 40%);

    &__image {
        background-image: url(~images/tripsee1.png);
        background-size: contain;
        background-position: top;
    }
}

.twiggle {
    background-color: fadeout(#041125, 10%);
    color: #fff;

    &__image {
        background-image: url(~images/twiggle.png);
        background-size: cover;
        background-position: top;
        background-position-x: 30px; 
    }
}

.creative {
    background-color: fadeout(#d91122, 10%);
    color: #fff;
}